{% extends "layouts/wedding.html" %}
{% load ui %}

{% block title %}Who? - James &amp; Amanda{% endblock %}

{% block content %}
<!-- About Us copy -->
<div id='about' class='c title'>
	<div class='g'>
		<h2>who are you again?</h2>
		<p>Hi, if you are here, we've likely met. Failing that, we're James and Amanda. We met when James was a broke schlub hanging out around the coffee shop Amanda worked at a lifetime ago. This was in 2000.</p>
		<p>Both on the rebound we took an immediate liking to each other, figuring a summer fling was just the thing to clear our minds of the troubles of life. Oops.</p>
		<p>In the decade since, we have found great pleasure in letting the little things in life slide <span class='dull'>(eg: sudden month-long assignments out of state, break-ins &amp; getting raided by federal marshals)</span> and just enjoying each other's company the best we can.</p>
		<p>Amanda runs the auction wing of a successful consignment company, and James fiddles with the internet all day.</p>
	</div>
</div>

<!-- Home Sweet Home -->
<div id='home_sweet_home' class='c title'>
	<h2 class='g'>home, sweet home.</h2>
	<div class='glowBox'>
		<img src='/img/home_sweet_home.png' />
	</div>
	<div class='g'>
		<p>10 years, 8 roommates, 4 pets, 3 apartments and a house. We've been at this for a while now, and think we have the whole <em>"living together without killing each other"</em> thing pretty well handled. We've been acting like a married couple for half a decade anyway, it's time to start doing it for real now.</p>
	</div>
</div>

<!-- Photo gallery -->
<div id='photos' class='c title'>
	{{photos|drawPhotos}}
</div>

{% endblock %}