{% extends "layouts/wedding.html" %}
{% load ui %}

{% block title %}Day 5 - The wrapup - James &amp; Amanda{% endblock %}

{% block content %}

<!-- Photo gallery -->
<div id='photos' class='c'>
	{{photos|drawPhotos}}
</div>

<!-- What went down this day? -->
<div id='news' class='c title'>
	<div class='g'>
		<h2>stilling being on EST has its upsides</h2>
		<p>Oddly, if you get up nice and early, like before the sun is screaming down from the sky, bombing around in the desert is not a completely miserable endeavor. We took advantage of this fact and pointed the Jeep towards <em>Valley of Fire</em> State park in Overton. With the top down, a pack of donuts and Slim Jims in tow, we made quick work of the drive (fighting off urges to stop at rest area taco trucks) and managed to arrive shortly before 9am.</p> 

	</div>
</div>

<div id='stats' class='c title'>
	<div class='ac'>
		<div class='col'>
			<div class='gb'>
				<h3 class='pl'>Escape from The Strip</h3>
				<img class='' src='/img/stats/map_valley.png'>
				<div class='s_0 dull'>64 miles to Valley of Fire</div>
			</div>
			<div class='gb'>
				<h3>Best slot machine name</h3>
				<div class='s_1 p'>Maltese Fortune</div>
				<h3>Runner up</h3>
				<div class='s_1'>Twin Win</div>
			</div>
			<div class='gb'>
				<h3 class=''>Elevation while tearing through the Valley of Fire</h3>
				<img class='' src='/img/stats/map_elevation.png'>
				<div class='s_0 dull'>~1,400 ft spread</div>
			</div>
			

		</div>
		<div class='col middle'>
			<div class='gb'>
				<h3>High temp while traipsing through the desert</h3>
				<div class='s_3'>112&#176; F</div>
			</div>
			<div class='gb'>
				<h3>Dishes sampled at the Bellagio Buffet</h3>
				<div class='s_0'>Truffle ravioli, pancetta tortellini, leg of lamb, steamed pork bun, kobe beef, prime rib, kung pao chicken, mashed potatoes, turkey with cranberry chutney, broiled potatoes, shrimp, mac &amp; cheese, chilean sea bass, veal ossobucco, pork noodles, chicken noodle soup, key lime torte, coconut macadamia bar, pear &amp; walnut caramel, raspberry chocolate mousse, carrot cake and a strawberry cream puff</div>
			</div>
			
			
		</div>
		<div class='col'>

			<div class='gb'>
				<h3 class='pl'>Desert critters spotted</h3>
				<img class='p' src='/img/stats/bar_critters.png'>
			</div>
			<div class='gb'>
				<h3>Longest freight train</h3>
				<div class='s_3'>1.4 mi</div>
			</div>
			
			<div class='gb'>
				<h3>Number of ridiculous drinks shared with a coworker in close proximity to open flames</h3>
				<div class='s_5'>3</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}