{% extends "layouts/wedding.html" %}
{% load ui %}

{% block title %}Day 5 - Game over, man - James &amp; Amanda{% endblock %}

{% block content %}

<!-- Photo gallery -->
<div id='photos' class='c'>
	{{photos|drawPhotos}}
</div>

<!-- What went down this day? -->
<div id='news' class='c title'>
	<div class='g'>
		<h2>that's a wrap</h2>
		<p>No more, please.</p>
		<p>We quit, yield, forfeit, whatever. <em>No pool</em>. <em>No nap</em>. We just need to bolt.</p> 
		<p>Don't get us wrong, this trip has been more than incredible, but there is only so much the human body is designed to withstand. Our livers, skin and brains are at capacity, so we are bowing out. With our bags are packed, the car returned and us checked out of the hotel, there is nothing more to do/eat/see. All that remains is to total it all up, summarize the important bits and plunk down on a plane for hours and wait for home to come across the horizon, welcoming us back, <em>now as one</em>.</p>
		<p>We can not come close to expressing quite how much we've appreciated everyone's kindness and support, so, simply <em>from the bottom of our hearts - thank you</em>. We can't wait to see you all soon.<br/>
		<span class='signed'>-james and amanda</span></p>

	</div>
</div>

<div id='stats' class='c title'>
	<div class='ac'>
		<div class='col'>
			<div class='gb'>
				<h3>Modes of transportation</h3>
				<img src='/img/stats/info_transport.png'>
			</div>
			<div class='gb'>
				<h3>Total gambling losses</h3>
				<div class='s_3 alt'>$64.00</div>
			</div>
			<div class='gb'>
				<h3>Types of booze sampled</h3>
				<div class='s_5'>11</div>
				<div class='s__1 dull'>Whiskey + coke<br/>
					Vodka &amp; cranberry<br/>
					Vodka &amp; red bull<br/>
					Hard Rock lemonade<br/>
					Jameson neat<br/>
					777 Royal Red Lager<br/>
					Carpe Diem pinot noir<br/>
					Mi Casa magarita<br/>
					Mai tai<br/>
					Blue hawaiian<br/>
					Sin City steam ale
				</div>
			</div>			
		</div>
		<div class='col middle'>
			<div class='gb'>
				<h3>Places visited</h3>
				<div class='s_5'>21</div>
				<div class='s__1 dull'>Hard Rock Hotel<br/>
				Mr. Lucky's 24/7<br/>
				The Bellagio<br/>
				Relax pool<br/>
				Miracle Mile shops<br/>
				McCarran International airport<br/>
				Graceland Chapel<br/>
				Las Vegas Marriage Bureau<br/>
				Main Street Station<br/>
				Binnions<br/>
				Golden nugget<br/>
				Dream Car Rental<br/>
				New York New York<br/>
				The Venetian<br/>
				Palazzo<br/>
				Mt. Everest India's Cuisine<br/>
				Valley of Fire State Park<br/>
				Pink Taco<br/>
				Hard Rock Pool<br/>
				The Palms<br/>
				Peppermill &amp; Fireside Lounge
				</div>
			</div>
			<div class='gb'>
				
				<h3>Frequency of ragtop down</h3>
				<img class='p' src='/img/stats/pie_ragtop.png'>
				<div class='s__1 dull'>Mustang - 100%<br/>
					Wrangler - 85%
				</div>
			</div>	
			
			
		</div>
		<div class='col'>
			<div class='gb'>
				<h3>Splurge Purchase</h3>
				<div class='s_1'>Tiffany Sunglasses</div>
				<div class='s__0 dull p'>Amanda - $250</div>
				<div class='s_1'>Jokey magnets &amp; a beer</div>
				<div class='s__0 dull'>James - $27</div>
			</div>
			<div class='gb'>
				<h3>Areas of exploration</h3>
				<img src='/img/stats/map_day5.png'>
			</div>
			<div class='gb'>
				<h3>Total hours at the pool</h3>
				<div class='s_3'>11.5</div>
			</div>
			<div class='gb'>
				<h3>Best slot machine name</h3>
				<div class='s_1 p'>Liger Loot</div>
				<h3>Runner up</h3>
				<div class='s_1'>Gems! Gems! GEMS!</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}