{% extends "layouts/wedding.html" %}
{% load ui %}

{% block title %}Day 4 - In which we find someplace hotter - James &amp; Amanda{% endblock %}

{% block content %}

<!-- Photo gallery -->
<div id='photos' class='c'>
	{{photos|drawPhotos}}
</div>

<!-- What went down this day? -->
<div id='news' class='c title'>
	<div class='g'>
		<h2>still being on EST has its upsides</h2>
		<p>Oddly, if you get up nice and early, like before the sun is screaming down from the sky, bombing around in the desert is not a completely miserable endeavor. We took advantage of this fact and pointed the Jeep towards <em>Valley of Fire</em> State park in Overton. With the top down, a pack of donuts and Slim Jims in tow, we made quick work of the drive (fighting off urges to stop at rest area taco trucks) and managed to arrive shortly before 9am.</p>
		<p>Some of the sites called out by the park were awe inspiring <span class='dull'>(being enveloped in a petroglyph cover canyon with a much appreciated cool breeze)</span> others markedly less so <span class='dull'>(1/2 mile hike from the road to see a single petrified log surrounding by a huge fence)</span>. In all cases, it was a little toasty. After a few hours of driving/hiking/sweating we stopped in the gift shop to freshen up and started out way back to the strip. As we were leaving around 1pm it was 112&#176; and it looked like the bulk of visitors were just starting to pile in for the day. I really hope they brought plenty of water and giant blocks of dry ice.</p>
		<p>Pool. Nap.</p>
		<p>Despite knowing full well that the city is host to some of the finest dining options available for purchase, we had an overwhelming desire to see an old friend <em>the buffet</em> at the Bellagio. We had been there in the past with Erik and Amanda, and it seemed like gorging ourselves on food that is really quite fantastic, was the proper way to bring a sense of family into the trip.</p>
		<p>By a stroke of serendipitous scheduling, our trip overlapped with <em>Camp Organic</em>, so we were lucky enough to drag Mr. Sam Cannon away from his duties as counselor for a few moments. Taking full advantage of the situation we scampered over to what can best be described as a 1973 Denny's, done vegas-style, serving booze, with sunken seating and flaming fountains, turned up to 11: <em>The Peppermill</em>. After soaking in our glorious surroundings and a round of celebratory shameful looking drinks we returned Sam to his duties and knowing we had a long travel day ahead of us, called it a night.</p> 

	</div>
</div>

<div id='stats' class='c title'>
	<div class='ac'>
		<div class='col'>
			<div class='gb'>
				<h3 class='pl'>Escape from The Strip</h3>
				<img class='' src='/img/stats/map_valley.png'>
				<div class='s_0 dull'>64 miles to Valley of Fire</div>
			</div>
			<div class='gb'>
				<h3>Best slot machine name</h3>
				<div class='s_1 p'>Maltese Fortune</div>
				<h3>Runner up</h3>
				<div class='s_1'>Twin Win</div>
			</div>
			<div class='gb'>
				<h3 class=''>Elevation while tearing through the Valley of Fire</h3>
				<img class='' src='/img/stats/map_elevation.png'>
				<div class='s_0 dull'>~1,400 ft spread</div>
			</div>
			

		</div>
		<div class='col middle'>
			<div class='gb'>
				<h3>High temp while traipsing through the desert</h3>
				<div class='s_3'>112&#176; F</div>
			</div>
			<div class='gb'>
				<h3>Dishes sampled at the Bellagio Buffet</h3>
				<div class='s_0'>Truffle ravioli, pancetta tortellini, leg of lamb, steamed pork bun, kobe beef, prime rib, kung pao chicken, mashed potatoes, turkey with cranberry chutney, broiled potatoes, shrimp, mac &amp; cheese, chilean sea bass, veal ossobucco, pork noodles, chicken noodle soup, key lime torte, coconut macadamia bar, pear &amp; walnut caramel, raspberry chocolate mousse, carrot cake and a strawberry cream puff</div>
			</div>
			
			
		</div>
		<div class='col'>

			<div class='gb'>
				<h3 class='pl'>Desert critters spotted</h3>
				<img class='p' src='/img/stats/bar_critters.png'>
			</div>
			<div class='gb'>
				<h3>Longest freight train</h3>
				<div class='s_3'>1.4 mi</div>
			</div>
			
			<div class='gb'>
				<h3>Number of ridiculous drinks shared with a coworker in close proximity to open flames</h3>
				<div class='s_5'>3</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}