{% extends "layouts/wedding.html" %}
{% load ui %}

{% block title %}Day 1 - When things get real - James &amp; Amanda{% endblock %}

{% block content %}

<!-- Photo gallery -->
<div id='photos' class='c'>
	{{photos|drawPhotos}}
</div>

<!-- What went down this day? -->
<div id='news' class='c title'>
	<div class='g'>
		<h2>and so it begins</h2>
		<p>After lying to and deceiving folks for the past few weeks it felt great to pack out bags, kiss the dogs goodbye and head west. Travel was uneventful, James remembered how boxy Mustangs feel and we sailed through the marriage license bureau in record time.</p>
		<p>The ceremony was just adorable <em>we swear</em>. Our minister was an effeminate Cheech Marin with wild gesticulation, we kissed, wished the next couple well and were out of there. We bombed around town in the convertible for a bit, grabbed some refreshments and hit the penny slots. It was just like Bridal Monthly said it would be.</p>
		<p>By far, the scariest and most stressful part of the whole ordeal was driving through North Vegas traffic. Everything else was cake.</p>
	</div>
</div>

<div id='stats' class='c title'>
	<div class='ac'>
		<div class='col'>
			<div class='gb'>
				<h3>Elvises present</h3>
				<div class='s_5'>0</div>
			</div>
			<div class='gb'>
				<h3>Books read in flight</h3>
				<div class='s_1'>Year of the Flood, Ishmael</div>
			</div>
		</div>
		<div class='col middle'>
			<div class='gb'>
				<h3>Cash won playing penny slots</h3>
				<div class='s_2'>$11.16</div>
			</div>
			<div class='gb'>
				<h3>Temp @ 10pm</h3>
				<div class='s_4'>101</div>
			</div>
		</div>
		<div class='col'>
			<div class='gb'>
				<h3>Transit breakdown</h3>
				<img src='/img/stats/transit.png'>
			</div>
		</div>
	</div>
</div>

{% endblock %}