{% extends "layouts/wedding.html" %}
{% load ui %}
{% block title %}James Vreeland &amp; Amanda Simmons got hitched - August 1, 2010{% endblock %}

{% block content %}
<!-- Intro copy -->
<div id='intro' class='c title'>
	<div class='g'>
		<h2>you did what?</h2>
		<p>Got <em>hitched</em>. In <em>Vegas</em>. And <em>didn't tell you</em> first.</p>

		<p>Sorry, you'll pull through just fine. I promise.</p>

		<p>On the lighter side, we made this site so you can follow our antics as we go carousing through the desert. We'll be uploading photos, video and other stuff as we figure out what we're doing in our new life together. Not to worry, traditionalists, we'll have some flavor of shindig this fall for family and friends. But for now, tough cookies, we're heading out to play.</p>

		<p>Let's be honest, it's been 10 years, you had to have seen this coming eventually.<br/>
		<span class='signed'>-james and amanda</span></p>
	</div>
</div>

<!-- Photo gallery -->
<div id='photos' class='c title'>
	<h2 class='g'>don't we look precious?</h2>
	{%comment%}{{photos|drawPhotos}}{%endcomment%}
	<div class='glowBox g photos'>
		<img src='/img/photos/00_00_couple_hitched.jpg' />
	</div>
</div>

<!-- Instructions -->
<div id='instructions' class='c title'>
	<h2 class='g'>now what?</h2>
	<div class='g'>
		<p>Raise a glass to us and go on about your day, I know that's what we're doing. If you feel like getting more personal, please drop either of us a line and let us know what you really think.</p>
		
		<ul>
			<li><a href='http://www.facebook.com/amanda.simmons' target='_blank'>Amanda</a> - &#50;&#52;&#56;&#46;&#50;&#53;&#57;&#46;&#57;&#54;&#56;&#49;</li>
			<li><a href='http://www.facebook.com/jamesv' target='_blank'>James</a> - &#50;&#52;&#56;&#46;&#51;&#57;&#48;&#46;&#51;&#52;&#52;&#55;</li>
		</ul>
		
		<p>We're trying to add a new page to this site each day we are in the desert, so check back every now and then for updates and photos.</p>
	</div>
</div>

{% endblock %}