{% extends "layouts/wedding.html" %}

{% block title %}{% endblock %}

{% block content %}
<!-- Intro copy -->
<div id='intro' class='c title'>
	<div class='g'>
		<h2>you did what?</h2>
		<p>Got <em>hitched</em>. In <em>Vegas</em>. And <em>didn't tell you</em> first.</p>

		<p>Sorry, you'll pull through just fine. I promise.</p>

		<p>On the lighter side, we made this site so you can follow our antics as we go carousing through the desert. We'll be uploading photos, video and other stuff as we figure out what we're doing in our new life together. Don't worry traditionalists, we'll have some flavor of shindig this fall for family and friends. But for now, tough cookies, we're heading out to play.</p>

		<p>Let's be honest, it's been 10 years, you had to have seen this coming eventually.<br/>
		<span class='signed'>-james and amanda</span></p>
	</div>
</div>

<!-- Photo gallery -->
<div id='photos' class='c title'>
	<h2 class='g'>photos</h2>
	<div class='glowBox'>x<br/><br/>x<br/><br/>x<br/><br/>x<br/><br/></div>
</div>
{% endblock %}