{% load ui %}
<html>
<head>
	<title>James Vreeland &amp; Amanda Simmons - {% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="/css/core.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="shortcut icon" href="/img/favicon.ico" />

	<script src='http://code.jquery.com/jquery-1.4.2.min.js'></script>
</head>
<body>
	<div id='wrapper'>

		<div id='header' class='c glowBox'>
			<h1>james <span class='dull'>&amp;</span> amanda</h1>
			<h4>august 1, 2010</h4>
			<h4>vegas, baby. vegas!</h4>
			{{curr_page|drawNav}}
			
			<img src='/img/corner.png' class='corner tl' />
			<img src='/img/corner.png' class='corner br' />
		</div>

		{% block content %}{% endblock %}
		
		<div id='fb' class='c glowBox'>
			<div id='fb-contents'>
				<fb:comments css='http://jamesandamanda.com/css/fb.css?1' width='670'></fb:comments>
			</div>
		</div>
				
		<div id='footer' class='c'>
			
		</div>
		<div id="fb-root"></div>
		<script src='/js/jquery.galleriffic.js'></script>
		<script src='/js/core.js'></script>

		<script type="text/javascript">
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
			try{
				var pageTracker = _gat._getTracker("UA-639236-21");
				pageTracker._trackPageview();
			} catch(err) {}
		</script>
	</div>
</body>
</html>