{% load ui %}
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="/css/core.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="shortcut icon" href="/img/favicon.ico" />

	<script src='http://code.jquery.com/jquery-1.4.2.min.js'></script>
</head>
<body>
	<div id='wrapper'>

		<div id='header' class='c glowBox'>
			<h1>james <span class='dull'>&amp;</span> amanda</h1>
			<h4>august 1, 2010</h4>
			<h4>vegas, baby. vegas!</h4>
			{{curr_page|drawNav}}
			
			<img src='/img/corner.png' class='corner tl' />
			<img src='/img/corner.png' class='corner br' />
		</div>

		{% block content %}{% endblock %}
		
		<div id='fb' class='c title'>
			<div id='fb-contents' class='glowBox'>
				<fb:comments css='http://jamesandamanda.com/css/fb.css?4' width='670'></fb:comments>
			</div>
		</div>
				
		<div id='footer' class='c'>
			
		</div>
		<div id="fb-root"></div>
		<script src='/js/jquery.galleriffic.js'></script>
		<script src='/js/core.js'></script>

	</div>
</body>
</html>