/* F2D44E | E880A2 | B8C45A | FAF5F5 */

body {
    margin: 0px;
    padding: 0px;
    
    background: #333333 no-repeat;
    background-image:   -moz-linear-gradient(-90deg, #111111 0, #333333 700px, #333333 100%);
    background-image:   -webkit-gradient(linear, 0 0, 0 700, from(#111111), to(#333333));
    height: 100%;
    }
    
    #wrapper {
        background: url('../img/bg.png') no-repeat 20% 0%;
        height: 100%;
        text-align: center;
        }
        
    .content, .c {
        width: 700px;
        margin: 0 auto;
        text-align: left;
        }

        .c p {
            text-align: justify; 
            }
        
        .c.title {
            padding-top: 30px;
            position: relative;
        }

    .gutter, .g {
        padding-left: 15px;
        padding-right: 15px;
        }
    
    .p {
        padding-bottom: 15px;
        }
        
    .pl {
        padding-bottom: 10px;
        }
        
    .glowBox, .gb {
        background: #111111;
        background-color: rgba(0,0,0,0.5);
        -moz-box-shadow:    0px 0px 25px rgba(56,52,45,0.4);
        -webkit-box-shadow: 0px 0px 25px rgba(56,52,45,0.4);
        box-shadow:         0px 0px 25px rgba(56,52,45,0.4);
        }
        
img {
    border: none;
    }


/*  Fonts  */
body {
    font-family: Century Gothic, Apple Gothic, sans-serif ;
    letter-spacing: 1px;
    word-spacing: 1px;
    color: #FAF5F5;
    font-size: 11px;
    text-align: justify; 
    text-justify: newspaper;
    }

a {
    color: #FAF5F5;
    text-decoration: none;
    border-bottom: 1px solid #B8C45A;
    padding-bottom: 1px;
    }
        
    a:hover {
        color: #B8C45A;
        }

    .photos a {
        padding: 0;
        border: none;
        }

p {
    line-height: 18px;
    }
    

em {
    color: #F2D44E; 
    font-style: normal;
    border-bottom: 1px dotted #E880A2;
    }
    
h1, h2, h3, h4, h5, h6 {
    padding: 0px;
    margin: 0px;
    }

h1, h2, h3 {
    font-family: Garamond, "Hoefler Text", Palatino, "Palatino Linotype", serif;
    font-weight: normal;
    }

h1 {
    font-size: 52px;
    padding-top: 10px;
    margin-bottom:15px;
    }
    
    h1 .dull,
    .dull {
        color: #999999;
        }

h2 {
    font-size: 28px;
    color: #B8C45A;
    position: absolute;
    z-index: 99;
    top: 5px;
    }

h3 {
    font-size: 16px;
    color: #777777;
    }

h4 {
    font-weight: normal;
    font-size: 13px;
    color: #777777;
    }

.s__1, .s_0, .s_1, .s_2, .s_3, .s_4, .s_5 {
    color: #F2D44E;
    }

    .s__1.dull,  .s_0.dull,  .s_1.dull,  .s_2.dull,  .s_3.dull,  .s_4.dull,  .s_5.dull,
    .s__1.dull, .s_0 .dull, .s_1 .dull, .s_2 .dull, .s_3 .dull, .s_4 .dull, .s_5 .dull  {
        color: #777777;
        }

    .s__1.alt,  .s_0.alt,  .s_1.alt,  .s_2.alt,  .s_3.alt,  .s_4.alt,  .s_5.alt,
    .s__1.alt, .s_0 .alt, .s_1 .alt, .s_2 .alt, .s_3 .alt, .s_4 .alt, .s_5 .alt  {
        color: #E880A2;
        }




.s__1{ font-size: 10px;   line-height: 15px;}
.s_0 { font-size: 12px;   line-height: 17px;}
.s_1 { font-size: 14px;   line-height: 20px;}
.s_2 { font-size: 35px;   line-height: 50px;}
.s_3 { font-size: 60px;   line-height: 60px;}
.s_4 { font-size: 130px;  line-height: 115px; text-align: center;}
.s_5 { font-size: 200px;  line-height: 170px; text-align: center;}
    
/*  Header  */
#header {
    text-align: center;
    position: relative;
    margin: 20px auto;
    height: 170px;
    }
    
    #header .corner {
        position: absolute;
        z-index: 99;
        }
    #header .tl.corner {
        top: -3;
        left: -5;
    }
        
    #header .br.corner {
        bottom: -3;
        right: -5;
        -webkit-transform: rotate(180deg); 
        -moz-transform: rotate(180deg);
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
        }
    

    #header h4 {
        height: 18px;
        }
        
        
        #nav {
            font-size: 13px;
            width: 437px;
            /* border: 1px solid #ff19b2; */
            color: #444444;
            margin: 20px auto 0;
            padding: 0;
            text-align: center;
            }
        
            #nav li {
                float: left;
                list-style: none;
                padding: 0 10px 4px;
                border-left: 1px solid #444444;
                }
                
                #nav li:first-child {
                    border: none;
                    }
                
            #nav a {
                color: #777777;
                text-decoration: none;
                border-bottom: 1px solid #B8C45A;
                padding-bottom: 2px;
                }
                
            #nav a:hover {
                color: #B8C45A;
                }
            
            #nav a.current {
                color: #B8C45A;
                border-bottom: 3px solid #B8C45A;
                }
        
/*  Intro  */
.signed {
    color: #777777;
    font-style: italic;
    }

#instructions li {
    list-style-type: circle;
    padding-bottom: 2px;
    }
    
/* Photos */
.photos {
    padding-bottom: 35px;
    padding-top: 15px;
    }
    
.controls {
    position: absolute;
    width: 670px;
    }

    .controls .ss-controls {
        position: absolute;
        text-align: center;
        width: 670px;
        }
        
        .controls .ss-controls a {
            font-size: 12px;
            color: #777777;
            text-decoration: none;
            border-bottom: 1px solid #B8C45A;
            padding-bottom: 2px;
            }

            .controls .ss-controls a:hover {
                color: #B8C45A;
                }
            
    .controls .nav-controls {
        position: absolute;
        width: 670px;
        }
    
        
        .controls .nav-controls a {
            display: block;
            position: absolute;
            border: 1px solid #333333;
            text-decoration: none;
            color: #B8C45A;
            background: #000000;
            text-align: center;
            width: 20px;
            height: 20px;
            font-size: 13px;
            }
            
            .controls .nav-controls a:hover {
                border: 1px solid #555555;
                background: #333333;
                }
                
        .controls .prev {
            left: 0;
            }

        .controls .next {
            right: 0;
            }

.slideshow {
    background: #222222;
    }
    
.thumbs {
    list-style: none;
    margin: 15px -15px 0 0;
    padding: 0;
    }

.thumbs li {
    float: left;
    margin: 0 9px 10px 0;
    padding: 0;
    }
    
    .thumbs img {
        border: 3px solid #333333;
        
        }
        
        .thumbs .selected img {
            border: 3px solid #F2D44E;
            }
    
/* Stats */
#stats .col {
    float: left;
    width: 223px;
    margin-bottom: -15px;
    }
    
    #stats .middle {
        margin-left: 15px;
        margin-right: 15px;
        }

    #stats .gb {
        margin-bottom: 15px;
        padding: 15px;
        }

    
/* FB */
#fb {
    margin-top: 15px;
    margin-bottom: 15px;
    }
#fb-contents{
    padding: 15px;
    }
    
/*  Footer  */
#footer {
    margin-top: 15px;
    margin-bottom: 45px;
    }
    
.ac:after {
	content:        ".";
	display:        block;
	height:         0;
	clear:          both;
	visibility:     hidden;
    }

.ac { 
    display:        inline-block;
    }

/* Hides from IE-mac \*/
* html .ac { 
    height:         1%;
    }

.ac { 
    display:        block;
    }
* {
    outline:none;
    }
/* End hide from IE-mac */