.wallkit_postcontent {
    color: #FAF5F5;
}

.connect_text_wrapper {
    color: #FAF5F5;
}

.wallkit_postcontent a,
.connect_text_wrapper a {
    color: #777777;
    text-decoration: none;
}

.connect_text_wrapper a {
    border-bottom: 1px solid #B8C45A;
    padding-bottom: 2px;
}

.wallkit_postcontent a:hover,
.connect_text_wrapper a:hover{
    color: #B8C45A;
}

.wallkit_post {
    border-bottom:1px dotted #777777;
}